{%- assign use_transparent_header = false -%}

{%- if template == 'index' and section.settings.enable_transparent_header -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}

{%- if template.name == 'collection' and section.settings.enable_transparent_header_collection and collection.image and collection.all_products_count > 0 and collection.template_suffix != 'no-image' -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}

{%- if section.settings.navigation_style != 'sidebar' -%}
  {%- assign use_sidebar_menu = false -%}
{%- else -%}
  {%- assign use_sidebar_menu = true -%}
{%- endif -%}

{%- if settings.currency_conversion_enabled -%}
  {%- capture currency_conversion_select -%}
    <div class="Header__CurrencySelector Text--subdued Heading Link Link--primary u-h8 hidden-pocket hidden-lap">
      <div class="Select Select--transparent">
        <select class="CurrencySelector__Select u-h8">
          {%- capture codes -%}USD,EUR,DZD{%- endcapture -%}
          {%- assign supported_codes = settings.currency_conversion_supported_currencies | remove_first: shop.currency | upcase | split: ' ' | uniq -%}

          <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>

          {%- for code in supported_codes -%}
            {%- if codes contains code -%}
              <option value="{{ code }}">{{ code }}</option>
            {%- endif -%}
          {%- endfor -%}
        </select>

        {%- include 'icon' with 'select-arrow' -%}
      </div>
    </div>
  {%- endcapture -%}
{%- endif -%}

{{- currency_conversion_select -}}
