{%- capture section_settings -%}
{
  "enableHistoryState": true,
  "showInventoryQuantity": {% if section.settings.show_inventory_quantity %}true{% else %}false{% endif %},
  "showThumbnails": {% if section.settings.show_thumbnails %}true{% else %}false{% endif %},
  "inventoryQuantityThreshold": {{ section.settings.inventory_quantity_threshold }},
  "enableImageZoom": {% if section.settings.enable_image_zoom %}true{% else %}false{% endif %},
  "showPaymentButton": {{ section.settings.show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section class="Product Product--{{ section.settings.image_size }}" data-section-id="{{ section.id }}" data-section-type="product" data-section-settings='{{ section_settings }}'>
  <div class="Product__Wrapper">
    {%- capture action_list_items -%}
      {%- if section.settings.enable_image_zoom -%}
        <div class="Product__ActionItem hidden-lap-and-up">
          <button class="RoundButton RoundButton--small RoundButton--flat" data-action="open-product-zoom">{% include 'icon' with 'plus' %}</button>
        </div>
      {%- endif -%}

      {%- if section.settings.show_share_buttons -%}
        <div class="Product__ActionItem">
          <button class="RoundButton RoundButton--small RoundButton--flat" data-action="toggle-social-share" data-animate-bottom aria-expanded="false">
            <span class="RoundButton__PrimaryState">{% include 'icon' with 'share' %}</span>
            <span class="RoundButton__SecondaryState">{% include 'icon' with 'close' %}</span>
          </button>

          {%- assign share_url = shop.url | append: product.url -%}
          {%- assign twitter_text = product.title -%}
          {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = product.featured_image | img_url: 'large' | prepend: 'https:' -%}

          <div class="Product__ShareList" aria-hidden="true">
            <a class="Product__ShareItem" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener">{%- include 'icon' with 'facebook' -%} Facebook</a>
            <a class="Product__ShareItem" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener">{%- include 'icon' with 'pinterest' -%} Pinterest</a>
            <a class="Product__ShareItem" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener">{%- include 'icon' with 'twitter' -%} Twitter</a>
          </div>
        </div>
      {%- endif -%}
    {%- endcapture -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRODUCT GALLERY
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- assign initial_image_id = product.featured_image.id -%}
    {%- assign initial_image_index = 0 -%}
    {%- assign image_count = 0 -%}

    {%- capture slideshow_images -%}
      {%- for image in product.images -%}
        {%- if image.alt == 'featured' or image.alt == 'featured mobile' -%}
          {%- continue -%}
        {%- endif -%}

        {%- if image.id == product.selected_or_first_available_variant.image.id -%}
          {%- assign initial_image_index = image_count -%}
          {%- assign initial_image_id = image.id -%}
        {%- endif -%}

        {%- include 'image-size', sizes: '200,400,600,700,800,900,1000,1200,1400,1600', image: image -%}

        {%- assign is_video = false -%}

        {%- if image.alt contains 'youtube.com/embed' or image.alt contains 'player.vimeo.com' -%}
          {%- assign is_video = true -%}
        {%- endif -%}

        <div id="Image{{ image.id }}" class="Product__SlideItem Product__SlideItem--{% if is_video %}video{% else %}image{% endif %} Carousel__Cell {% if initial_image_id == image.id %}is-selected{% endif %}"
             {% if is_video %}data-action="open-modal" aria-controls="modal-video-{{ image.id }}"{% endif %}
             {% unless is_video %}data-image-position-ignoring-video="{% increment image_position_without_video %}"{% endunless %}
             data-image-position="{% increment image_position %}"
             data-image-id="{{ image.id }}">
          <div class="AspectRatio AspectRatio--withFallback" style="padding-bottom: {{ 100.0 | divided_by: image.aspect_ratio }}%; --aspect-ratio: {{ image.aspect_ratio }};">
            {% assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

            <img class="Image--lazyLoad Image--fadeIn"
                 {% if initial_image_id == image.id %}src="{{ image | img_url: '250x' }}"{% endif %}
                 data-src="{{ image_url }}"
                 data-widths="[{{ supported_sizes }}]"
                 data-sizes="auto"
                 data-expand="-100"
                 alt="{{ image.alt | escape }}"
                 data-max-width="{{ image.width }}"
                 data-max-height="{{ image.height }}"
                 data-original-src="{{ image | img_url: 'master' }}">

            <span class="Image__Loader"></span>

            {%- if is_video -%}
              <button type="button" class="Video__PlayButton" aria-label="{{ 'home_page.featured_video.play' | t }}">{% include 'icon' with 'play' %}</button>
            {%- endif -%}

            <noscript>
              <img src="{{ image | img_url: '800x' }}" alt="{{ image.alt | escape }}">
            </noscript>
          </div>
        </div>

        {%- assign image_count = image_count | plus: 1 -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- if product.images.size > 0 -%}
      <div class="Product__Gallery {% if section.settings.show_thumbnails and image_count > 1 %}Product__Gallery--withThumbnails{% else %}Product__Gallery--withDots{% endif %}">
        <span id="ProductGallery" class="Anchor"></span>

        {%- if action_list_items != blank -%}
          <div class="Product__ActionList hidden-lap-and-up">
          {{ action_list_items }}
          </div>
        {%- endif -%}

        {%- if image_count > 1 -%}
          {%- if section.settings.show_thumbnails -%}
            <div class="Product__SlideshowNav Product__SlideshowNav--thumbnails">
              <div class="Product__SlideshowNavScroller">
                {%- for image in product.images -%}
                  {%- if image.alt == 'featured' or image.alt == 'featured mobile' -%}
                    {%- continue -%}
                  {%- endif -%}

                  {%- assign is_video = false -%}

                  {%- if image.alt contains 'youtube.com/embed' or image.alt contains 'player.vimeo.com' -%}
                    {%- assign is_video = true -%}
                  {%- endif -%}

                  <a href="#Image{{ image.id }}" class="Product__SlideshowNavImage {% if is_video %}Product__SlideshowNavImage--video{% endif %} AspectRatio {% if forloop.first %}is-selected{% endif %}" style="--aspect-ratio: {{ image.aspect_ratio }}">
                    <img src="{{ image | img_url: '160x' }}">

                    {%- if is_video -%}
                      <button type="button" class="Product__SlideshowNavPlay" data-action="play-video" aria-label="{{ 'home_page.featured_video.play' | t }}">{% include 'icon' with 'play' %}</button>
                    {%- endif -%}
                  </a>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}

          <div class="Product__SlideshowNav Product__SlideshowNav--dots">
            <div class="Product__SlideshowNavScroller">
              {%- for image in product.images -%}
                {%- if image.alt == 'featured' or image.alt == 'featured mobile' -%}
                  {%- continue -%}
                {%- endif -%}

                <a href="#Image{{ image.id }}" class="Product__SlideshowNavDot {% if forloop.first %}is-selected{% endif %}"></a>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

        {%- capture flickity_options -%}
          {
            "pageDots": false,
            "prevNextButtons": false,
            "wrapAround": true,
            "freeScroll": true,
            "autoPlay": false
          }
        {%- endcapture -%}
        <div class="Product__Slideshow" data-action="toggle-product-gallery" data-flickity-options="{{ flickity_options }}">
          {{ slideshow_images }}
        </div>
      </div>
    {%- endif -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    FAQ
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="Product__FAQ">
      <h3>FAQ</h3>
      <div class="FAQ__Item">
        <h4>Question 1: Quel est le délai de livraison ?</h4>
        <p>Réponse: Le délai de livraison est de 3 à 5 jours ouvrables.</p>
      </div>
      <div class="FAQ__Item">
        <h4>Question 2: Comment retourner un produit ?</h4>
        <p>Réponse: Vous pouvez retourner un produit dans les 30 jours suivant l'achat.</p>
      </div>
    </div>
  </div>
</section>
